- var keywords = Array.isArray(site.keywords) ? site.keywords.join(",") : site.keywords;

title= site.head_title

meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(
  name="viewport",
  content="width=device-width, initial-scale=1.0, user-scalable=no"
)
meta(http-equiv="x-dns-prefetch-control", content="on")
link(rel="dns-prefetch", href="https://testingcf.jsdelivr.net/")
link(rel="prefetch", href="https://testingcf.jsdelivr.net/")
meta(name="renderer", content="webkit")
meta(name="format-detection", content="telephone=no")
meta(name="mobile-web-app-capable", content="yes")
meta(name="apple-touch-fullscreen", content="yes")
meta(name="apple-mobile-web-app-title", content=`${site.title}`)
meta(name="application-name", content=`${site.title}`)
meta(name="apple-mobile-web-app-capable", content="yes")

meta(name="keywords", content=keywords)
meta(name="author", content=`${site.author}`)
meta(name="description", content=`${site.description}`)
link(rel="icon", href=`${site.favicon}`, type="image/x-icon")
link(rel="shortcut icon", href=`${site.favicon}`, type="image/x-icon")
link(rel="stylesheet", href="css/index.css")
