main
  .main-left
    #author.card
      - var avatarImg = config.left.card_author.avatar || "/assets/avatar.png";
      - var tag1Text = config.left.card_author.tag1 || "Daydreamer🤡";
      - var tag2Text = config.left.card_author.tag2 || "Procrastinator💤";
      img(src=`${avatarImg}`)
      span.author-tag1 #{ tag1Text }
      span.author-tag2 #{ tag2Text }
    if config.left.card_aboutme
      #author-aboutme.card
        p #{ config.left.card_aboutme }
    if config.left.social.en
      .social-icons
        each icon in config.left.social.icons
          a.social-icon(
            href=icon.href,
            rel="external nofollow noreferrer",
            target="_blank",
            title=icon.title
          )
            i(class=`iconfont ${icon.icon}`)
    if config.left.card_whoami
      #author-whoami.card
        h3 👨🏽‍💻 whoami
        p &nbsp;&nbsp;&nbsp;&nbsp;#{ config.left.card_whoami }
    #author-info.card
      each info in config.left.card_author_infos
        p #{ info }
    if config.left.card_wechat.en
      #card-wechat.card(onclick="null")
        .flip-content
          - var frontImg = config.left.card_wechat.front_img || "https://bu.dusays.com/2023/01/13/63c02edf44033.png";
          - var backImg = config.left.card_wechat.back_img || "https://testingcf.jsdelivr.net/gh/nixgnauhcuy/blog_cdn@1.0/img/other/wechat.png";
          .front(
            style=`background: url(${frontImg}) center center / 100% no-repeat`
          )
          .back(
            style=`background: url(${backImg}) center center / 100% no-repeat`
          )
  .main-right
    if config.right.title
      .title #{ config.right.title }
    if config.right.subtitle
      .subtitle #{ config.right.subtitle }
    if config.right.navigation.en
      .navigation-section
        h1 Navigation
        .navigation-cards
          each site in config.right.navigation.sites
            a(href=site.url, target="_blank")
              .card
                .card-icon(class=`iconfont ${site.icon}`)
                .card-title #{ site.name }
    if config.right.blog_archives.en
      .blog-archives-section
        h1 Blog Archives
        .timeline
          each post in config.right.blog_archives.list
            .timeline-item
              a(href=post.url, target="_blank")
                h3= post.title
                p= "📅 " + post.date
    if config.right.github.en
      .github-section
        h1 Github Projects
        .github-cards
          each repo in config.right.github.repositories
            .card
              a(href=repo.url, target="_blank")
                .card-title #{ repo.name }
                .card-description #{ repo.description }
    if config.right.github_snake_url
      .github_snake
        img.github-snake-img(src=`${config.right.github_snake_url}`, alt="github contribution grid")
    if config.right.mode_btn_en
      button(type='button' id='mode-btn' title='Mode')
        i(class='iconfont icon-circle-half-stroke')

canvas

if config.canvas_webgl_fluid.en
  <script type="module" src='/js/webgl-fluid.js'></script>

if config.canvas_webpbv_fluid.en
  <script type="module" src="/js/webpbv-fluid.js"></script>

<script src="/js/main.js"></script>
